# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1 неделя\to-do\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
